{% extends "base.html" %}

{% block content %}
<label style="color: red;">
    {{ competitionmessage }}
  </label>
<form class="modal-content" action="{{ url_for('competitionanswers') }}" method="POST">
    <label for="competition"><b>Select Subject</b></label>
    <select name="selCompetition" id="selCompetition">
        <option value=""></option>
        {% for item in dbcompetitionrows %}
            {% if competitionselected == item[0] %}
                <option value="{{ item[0] }}" selected="selected">{{item[0]}}</option>
            {% else %}
                <option value="{{ item[0] }}">{{item[0]}}</option>
            {% endif %}
        {% endfor %}
    </select> <button type="submit" id="btnGo">Go</button>
    <table>
        <tr>
            <td>Name: <strong>{{ dbcompetitiondetail.competitionname }}</strong></td>
        </tr>
        <tr>
            <td>Description: <strong>{{ dbcompetitiondetail.description }}</strong></td>
        </tr>
        <tr>
            <td>Started On: <strong>{{ dbcompetitiondetail.startedon }}</strong></td>
        </tr>
        <tr>
            <td>Ending On: <strong>{{ dbcompetitiondetail.endingon }}</strong></td>
        </tr>
    </table>
    <table>
        <tr>
        <th>No.</th>
        <th>Question</th>
        <th>Answer</th>
        </tr>
        {% for item in dbanswerrows %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
            </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}