{% extends "base.html" %}

{% block content %}
  <h2 align="center">#Ed Quiz-Home</h2>
  <form class="modal-content" method="post" id="frmHome">
      <p>
        <label style="color: blue;">Welcome to #Ed Quiz Platform.</label>
        <br>
        Follow this simple steps to play your favorite Quiz
        <br>
        <ol type="1">
          <li>Register for Quiz Subject by using <strong>Signup</strong> option here. Ensure to use your own mobile number and select your default Competition or Subject.</li>
          <li>You need to Login before playing Quiz. Use <strong>Login</strong> option in in this screen to login.
          <li>You can check your detailed score in <strong>Subject -> My Score</strong> screen</li>
          <li>You can check other player score and rank in <strong>Subject -> Leader Board</strong> screen</li>
          <li>Use <strong>Let's Play</strong> screen to play the quiz</li>
          <li>While playing quiz, you will be automatically presented with next question on Saving current response, untill all are done.</li>
          <li>While playing quiz, you can Submit all responses together, after which quiz get closed.</li>
          <li>While playing quiz, you will also be able to change Saved responses, until they are Submitted</li>
          <li>You can play or learn as many competitions (subjects) as there are active but <strong>one competition or Subject at a time</strong>. </li>
          <li>Use <strong>My Account -> Change Profile</strong> to change default subject.  You will get questions based on the default subject set here. You can also change your name and email address here.  You cannot change or delete your mobilenumber.</li>
          <li>You can change password using <strong>My Account --> Reset Password.</strong> If you forget your password, use forget password link in Login page to reset password based on One-Time-Password you will receive in your registered mobilenumber.</li>
          <li>About Information can be seen in <strong>About</strong> screen.</li>
        </ol>
      </p>
      <br>
      <div id="divSignup">
        <button type="button" name="btnSignup" id="btnSignUp" value="Signup" onclick="setDefaultDataAndSubmit('signup')" class="btn btn-primary">Signup</button>
        
        <br>
        If already signed then please login..<button type="button" name="btnLogin" id="btnLogin" value="Login" onclick="setDefaultDataAndSubmit('login')" class="btn btn-primary">Login</button> 
      </div>
      <div id="divQuiz" style="display: none;">
          <input type="submit" name="btnQuiz" id="btQuiz" value="Quiz" class="btn btn-primary">
      </div>            
      <br>
      <br>
      <label style="color: red;">
          {{ success }}
      </label>
  </form>
  <script>
    function setDefaultDataAndSubmit(action) {
      if (action === 'signup') {
        document.getElementById("frmHome").action = "{{ url_for('signup') }}";
      }
      else if (action === 'login') {
        document.getElementById("frmHome").action = "{{ url_for('login') }}";
      }
      document.getElementById("frmHome").submit();
    }
</script>

{% endblock %}