{% extends "base.html" %}

{% block content %}
  <h2 align="center">#Ed Quiz-Login</h2>
  <div class="imgcontainer">
    <img src="{{ url_for('static', filename='image/img_avatar2.png') }}" alt="Avatar" class="avatar">
  </div>
  <form class="modal-content" action="{{ url_for('chklogin') }}" method="post">
    <label for="uname"><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter mobile number" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <label>
    <p>
      <input type="checkbox" checked="checked" name="remember" id="chkRemember"> Remember me
    </p>
    </label>
    <p>
      <label style="color: red;">
        {{ loginmessage }}
      </label>
    </p>
    <button type="submit">Login</button>
    <br>
    <a href="{{ url_for('forgotpass') }}">Forgot Password</a>
  </form>
  {% endblock %}